{% extends "base.html.twig" %}

{% block title %} 404 {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="cell-group">
        <div class="cell-md-8 [ mx-auto ] text-center">

            <h1 class="heading-xl heading">404</h1>
            <p class="subtext">A page that you are looking for couldn't be found</p>

        </div>
    </div>
</div>
{% endblock %}
