{% extends "base.html.twig" %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="cell-group">
        <div class="cell-md-8 [ mx-auto ] text-center">

            <h1 class="heading-xl heading">{{ name }}</h1>
            <p class="subtext">Simple PHP framework for quick prototyping</p>

            <div class="m-4">
                <a target="_blank" href="https://github.com/mattonit/mercury" class="btn btn-outline-warning">GitHub</a>
                <a title="No documentation was created ...yet" href="#" class="btn btn-warning">Docs</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
